*{
  box-sizing: border-box;
}
:root{
    --hashred: #BE1C2Bff;
}
.outer-widget{
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 120px;
    height: 120px;
}
.output-outer-widget{
    display: none;
    position: fixed;
    bottom: 40px;
    left: 40px;
    width: 250px;
    height: 400px;
}
.bubble-widget-video{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    border: 8px var(--hashred) solid;
    cursor: pointer;
    box-shadow: 0px 0px 10px #2f313759;
}
.bubble-widget-video video{
    width: 150%;
    transform: translate(-32px,-70px);
}
.close-widget{
    z-index: 100;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    position: absolute ;
    width: 4vh ;
    height: 4vh ;
    border-radius: 50% ;
    top: -1vh ;
    right: -1vh ;
    color: #353535 ;
    cursor: pointer ;
    background: #2f3137 ;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 20%);
    transition: 0.7s;
    transform-origin: center ;
}
.close-widget:hover{
  transform: rotate(180deg);
}
.output-widget-video{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px #2f313759;
}

.output-widget-video video{
  width: 100%;
}
.output-widget-video:hover .video-controls{
  opacity: 1;
  transform: translateY(0px);
}
.pauseplaybutton{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #2f313750;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pauseplaybutton img{
  width: 50%;
  cursor: pointer;
  user-select: none; 
}
.video-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(-20px);
  width: 100%;
  height: 15%;
  top: 0;
  padding: 10px 10px 0 10px;
  position: absolute;
  transition: all 0.2s ease;
  transition: 0.5s;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
  
.volume-button{
  right: 4px;
}
#play{
  transition: 0.5s;
  margin-right: 15px;
}
#play:hover{
  transform: translateY(-2px) rotate(-180deg);
}
.progress-bar{
  width: 50%;
  height: 7px;
  background-color: #353535;
  margin-right: 15px;
  cursor: pointer;
}
.filled-progress-bar{
  position: relative;
  width: 0%;
  height: 100%;
  background-color: var(--hashred);
  transition: 0.2s;
  display: flex;
  align-items: center;
}
.circle-progress-bar{
  position: absolute;
  right: -5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--hashred);
}
.question{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  padding: 10px 20px 0 20px;
}
.question-frame{
  height: 100%;
  width: 100%;
  padding-right: 10px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #2f3137c9 #2f31375e; 
}
.question-frame::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.question-frame::-webkit-scrollbar-track {
  background: #2f31375e; 
}
 
/* Handle */
.question-frame::-webkit-scrollbar-thumb {
  background: #2f3137c9; 
}

/* Handle on hover */
.question-frame::-webkit-scrollbar-thumb:hover {
  background: #2f3137; 
}
.question-card{
  background-color: #2f3137c9;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}

.q-2{
  display: none;
}
.loading{
  display: none;
}
.loading-spinner{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f31372a;
}
button {
  cursor: pointer;
  padding: 3px;
  border: none;
  outline: none;
  background-color: transparent;
}
  
button * {
  pointer-events: none;
}
  
.hidden {
  display: none;
}
  
  